table.SpreadSheet--table {
  border-collapse: collapse;
  user-select: none;
  cursor: pointer;
  width: 0;
  table-layout: fixed;
}

table.SpreadSheet--table th, td {
  width: 70px;
  font-weight: normal;
  text-align: start;
  border: 1px solid rgb(212, 212, 212);
}

table.SpreadSheet--table tr {
  height: 20px;
}

table.SpreadSheet--data_table th {
  border-top: none;
}

table.SpreadSheet--data_table th:first-child {
  border-left: none;
}

table.SpreadSheet--data_table td:first-child {
  border-left: none;
}

table.SpreadSheet--horizontal_heading_table {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
}

table.SpreadSheet--horizontal_heading_table_cursor {
  cursor: url(cursors/cursor_down_arrow.cur), auto;
}

table.SpreadSheet--horizontal_heading_table th {
  border-top: none;
  text-align: center;
  border-color: rgb(153, 153, 153);
}

table.SpreadSheet--horizontal_heading_table th:hover {
  background-color: rgb(159, 213, 183);
}


table.SpreadSheet--horizontal_heading_table th.SpreadSheet--horizontal_heading_column_selected {
  background-color: rgb(211, 240, 224);
  color: rgb(33, 115, 70);
  font-weight: 900;
  /*box-shadow: 0px -2px 0px 0px rgb(33, 115, 70) inset;*/
}

table.SpreadSheet--horizontal_heading_table th.SpreadSheet--horizontal_heading_column_selected:hover {
  background-color: rgb(159, 213, 183);
}

table.SpreadSheet--horizontal_heading_table th.SpreadSheet--horizontal_heading_cell_selected {
  background-color: rgb(210, 210, 210);
  color: rgb(33, 115, 70);
  box-shadow: 0px -1px 0px 0px rgb(33, 115, 70) inset;
  border-bottom: 1px solid rgb(33, 115, 70);
}

table.SpreadSheet--vertical_heading_table th.SpreadSheet--vertical_heading_cell_selected {
  background-color: rgb(210, 210, 210);
  color: rgb(33, 115, 70);
  box-shadow: -1px 0px 0px 0px rgb(33, 115, 70) inset;
  border-right: 1px solid rgb(33, 115, 70);
}

table.SpreadSheet--vertical_heading_table td.SpreadSheet--vertical_heading_cell_selected {
  background-color: rgb(210, 210, 210);
  color: rgb(33, 115, 70);
  box-shadow: -1px 0px 0px 0px rgb(33, 115, 70) inset;
  border-right: 1px solid rgb(33, 115, 70);
}

table.SpreadSheet--horizontal_heading_table th:first-child {
  border-left: none;
  /*text-align: center;*/
}

table.SpreadSheet--vertical_heading_table {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
}

table.SpreadSheet--vertical_heading_table_cursor {
  cursor: url(cursors/cursor_right_arrow.cur), auto;
}

table.SpreadSheet--vertical_heading_table th {
  border-left: none;
  border-top: none;
  text-align: center;
  width: 100%;
  border-color: rgb(153, 153, 153);
}

table.SpreadSheet--vertical_heading_table th:hover {
  background-color: rgb(159, 213, 183);
}

table.SpreadSheet--vertical_heading_table td:hover {
  background-color: rgb(159, 213, 183);
}

table.SpreadSheet--vertical_heading_table td {
  border-left: none;
  text-align: center;
  border-color: rgb(153, 153, 153);
}

table.SpreadSheet--corner_heading_table {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;  /* Preferred icon size */
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  color: rgb(180, 180, 180);
}

table.SpreadSheet--corner_heading_table th {
  box-sizing: border-box;
  width: 24px;
  border-left: none;
  border-top: none;
  text-align: right;
  vertical-align: bottom;
  padding: 2px;
  border-color: rgb(153, 153, 153);
}

table.SpreadSheet--corner_heading_table tr {
  height: 20px;
}

div.SpreadSheet--vertical_heading_wrapper {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 20px;
  width: 23px;
  height: calc(100% - 37px);
  background-color: rgb(230, 230, 230);
  overflow: hidden;
}

div.SpreadSheet--vertical_heading_container {
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  width: calc(100% + 17px);
  height: 100%;
  overflow-y: scroll;
}
div.SpreadSheet--horizontal_heading_wrapper {
  position: absolute;
  display: inline-block;
  left: 23px;
  top: 0;
  width: calc(100% - 40px);
  height: 21px;
  background-color: rgb(230, 230, 230);
  overflow: hidden;
}

div.SpreadSheet--horizontal_heading_container {
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

div.SpreadSheet--corner_heading_wrapper {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: rgb(230, 230, 230);
}

div.SpreadSheet--stage_container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.SpreadSheet--data_container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

div.SpreadSheet--temporary_container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  visibility: hidden;
  opacity: 0;
}

div.SpreadSheet--cells_highlighter {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 2px solid green;
  box-shadow: 0px 0px 0px 1px white inset;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}














div.SpreadSheet--left_data_table_wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  /*overflow: hidden;*/
}




div.SpreadSheet--left_data_table_container {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: scroll;
}





























@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src:  url(fonts/MaterialIcons-Regular.eot);
  src:  local("Material Icons"), 
        local("MaterialIcons-Regular"), 
        url(fonts/MaterialIcons-Regular.woff2) format("woff2"),
        url(fonts/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: url("fonts/Roboto-100/Roboto-100.eot");
  src: url("fonts/Roboto-100/Roboto-100.eot?#iefix") format("embedded-opentype"),
       local("Roboto Thin"),
       local("Roboto-100"),
       url("fonts/Roboto-100/Roboto-100.woff2") format("woff2"),
       url("fonts/Roboto-100/Roboto-100.woff") format("woff"),
       url("fonts/Roboto-100/Roboto-100.ttf") format("truetype"),
       url("fonts/Roboto-100/Roboto-100.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/Roboto-300/Roboto-300.eot");
  src: url("fonts/Roboto-300/Roboto-300.eot?#iefix") format("embedded-opentype"),
       local("Roboto Light"),
       local("Roboto-300"),
       url("fonts/Roboto-300/Roboto-300.woff2") format("woff2"),
       url("fonts/Roboto-300/Roboto-300.woff") format("woff"),
       url("fonts/Roboto-300/Roboto-300.ttf") format("truetype"),
       url("fonts/Roboto-300/Roboto-300.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Roboto-regular/Roboto-regular.eot");
  src: url("fonts/Roboto-regular/Roboto-regular.eot?#iefix") format("embedded-opentype"),
       local("Roboto"),
       local("Roboto-regular"),
       url("fonts/Roboto-regular/Roboto-regular.woff2") format("woff2"),
       url("fonts/Roboto-regular/Roboto-regular.woff") format("woff"),
       url("fonts/Roboto-regular/Roboto-regular.ttf") format("truetype"),
       url("fonts/Roboto-regular/Roboto-regular.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("fonts/Roboto-500/Roboto-500.eot");
  src: url("fonts/Roboto-500/Roboto-500.eot?#iefix") format("embedded-opentype"),
       local("Roboto Medium"),
       local("Roboto-500"),
       url("fonts/Roboto-500/Roboto-500.woff2") format("woff2"),
       url("fonts/Roboto-500/Roboto-500.woff") format("woff"),
       url("fonts/Roboto-500/Roboto-500.ttf") format("truetype"),
       url("fonts/Roboto-500/Roboto-500.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/Roboto-700/Roboto-700.eot");
  src: url("fonts/Roboto-700/Roboto-700.eot?#iefix") format("embedded-opentype"),
       local("Roboto Bold"),
       local("Roboto-700"),
       url("fonts/Roboto-700/Roboto-700.woff2") format("woff2"),
       url("fonts/Roboto-700/Roboto-700.woff") format("woff"),
       url("fonts/Roboto-700/Roboto-700.ttf") format("truetype"),
       url("fonts/Roboto-700/Roboto-700.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url("fonts/Roboto-900/Roboto-900.eot");
  src: url("fonts/Roboto-900/Roboto-900.eot?#iefix") format("embedded-opentype"),
       local("Roboto Black"),
       local("Roboto-900"),
       url("fonts/Roboto-900/Roboto-900.woff2") format("woff2"),
       url("fonts/Roboto-900/Roboto-900.woff") format("woff"),
       url("fonts/Roboto-900/Roboto-900.ttf") format("truetype"),
       url("fonts/Roboto-900/Roboto-900.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src: url("fonts/Roboto-100italic/Roboto-100italic.eot");
  src: url("fonts/Roboto-100italic/Roboto-100italic.eot?#iefix") format("embedded-opentype"),
       local("Roboto Thin Italic"),
       local("Roboto-100italic"),
       url("fonts/Roboto-100italic/Roboto-100italic.woff2") format("woff2"),
       url("fonts/Roboto-100italic/Roboto-100italic.woff") format("woff"),
       url("fonts/Roboto-100italic/Roboto-100italic.ttf") format("truetype"),
       url("fonts/Roboto-100italic/Roboto-100italic.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("fonts/Roboto-300italic/Roboto-300italic.eot");
  src: url("fonts/Roboto-300italic/Roboto-300italic.eot?#iefix") format("embedded-opentype"),
       local("Roboto Light Italic"),
       local("Roboto-300italic"),
       url("fonts/Roboto-300italic/Roboto-300italic.woff2") format("woff2"),
       url("fonts/Roboto-300italic/Roboto-300italic.woff") format("woff"),
       url("fonts/Roboto-300italic/Roboto-300italic.ttf") format("truetype"),
       url("fonts/Roboto-300italic/Roboto-300italic.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("fonts/Roboto-italic/Roboto-italic.eot");
  src: url("fonts/Roboto-italic/Roboto-italic.eot?#iefix") format("embedded-opentype"),
       local("Roboto Italic"),
       local("Roboto-italic"),
       url("fonts/Roboto-italic/Roboto-italic.woff2") format("woff2"),
       url("fonts/Roboto-italic/Roboto-italic.woff") format("woff"),
       url("fonts/Roboto-italic/Roboto-italic.ttf") format("truetype"),
       url("fonts/Roboto-italic/Roboto-italic.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("fonts/Roboto-500italic/Roboto-500italic.eot");
  src: url("fonts/Roboto-500italic/Roboto-500italic.eot?#iefix") format("embedded-opentype"),
       local("Roboto Medium Italic"),
       local("Roboto-500italic"),
       url("fonts/Roboto-500italic/Roboto-500italic.woff2") format("woff2"),
       url("fonts/Roboto-500italic/Roboto-500italic.woff") format("woff"),
       url("fonts/Roboto-500italic/Roboto-500italic.ttf") format("truetype"),
       url("fonts/Roboto-500italic/Roboto-500italic.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("fonts/Roboto-700italic/Roboto-700italic.eot");
  src: url("fonts/Roboto-700italic/Roboto-700italic.eot?#iefix") format("embedded-opentype"),
       local("Roboto Bold Italic"),
       local("Roboto-700italic"),
       url("fonts/Roboto-700italic/Roboto-700italic.woff2") format("woff2"),
       url("fonts/Roboto-700italic/Roboto-700italic.woff") format("woff"),
       url("fonts/Roboto-700italic/Roboto-700italic.ttf") format("truetype"),
       url("fonts/Roboto-700italic/Roboto-700italic.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("fonts/Roboto-900italic/Roboto-900italic.eot");
  src: url("fonts/Roboto-900italic/Roboto-900italic.eot?#iefix") format("embedded-opentype"),
       local("Roboto Black Italic"),
       local("Roboto-900italic"),
       url("fonts/Roboto-900italic/Roboto-900italic.woff2") format("woff2"),
       url("fonts/Roboto-900italic/Roboto-900italic.woff") format("woff"),
       url("fonts/Roboto-900italic/Roboto-900italic.ttf") format("truetype"),
       url("fonts/Roboto-900italic/Roboto-900italic.svg#Roboto") format("svg");
}




.SpreadSheet--icons_font {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}


.font--roboto_regular {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}